.editorPlaceHolder{
    width:400px;
    text-align: left;
}
.editor{
    width:100%;
    min-height: 200px;
    max-height:500px;
    border:1px solid #999;
    text-align: left;
    overflow: scroll;
}
.editor p{
    margin:0; padding: 0;
}
.editorButtonArea{
    background:#eee;
    padding:5px;
    width:100%;
}
.editorButtonArea li{
    display:inline-block;
    width:24px;
    height: 24px;
    font-weight: 20px;
    padding:5px;
    color:#999;
    cursor:pointer;
}
editorButtonArea li.select{
    font-weight: bold;
    background: #ccc;
    color:#000;
}
